@model ProductDetailsViewModel
@using System.Security.Claims

@{
    ViewData["Title"] = "Product Details";
    var sortedImages = Model.SortedImages;
    var ratings = Model.Ratings;
    string actionName = ViewBag.ActionName;
}

<!-- ...:::: Start Breadcrumb Section:::... -->
<div class="breadcrumb-section breadcrumb-bg-color--golden">
    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="breadcrumb-title">Chi Tiết sản phẩm</h3>
                    <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                        <nav aria-label="breadcrumb">
                            <ul>
                                <li><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                                <li><a asp-controller="Product" asp-action="@actionName">@Model.Product.Category.Name</a></li>
                                <li class="active" aria-current="page">Chi tiết sản phẩm</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product-details-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-6">
                <div class="product-details-gallery-area product-details-gallery-area-vartical product-details-gallery-area-vartical-left" data-aos="fade-up" data-aos-delay="0">
                    <!-- Start Large Image -->
                    <div class="product-large-image product-large-image-vartical swiper-container ml-5">
                        <div class="swiper-wrapper">
                            @foreach (var image in sortedImages)
                            {
                                <div class="product-image-large-image swiper-slide zoom-image-hover img-responsive">
                                    <img src="/assets/images/product/@image.ImageUrl" alt="Product Image">
                                </div>
                            }
                        </div>
                    </div>
                    <!-- End Large Image -->
                    <!-- Start Thumbnail Image -->
                    <div class="product-image-thumb product-image-thumb-vartical swiper-container pos-relative">
                        <div class="swiper-wrapper">
                            @foreach (var image in sortedImages)
                            {
                                <div class="product-image-thumb-single swiper-slide">
                                    <img class="img-fluid" src="/assets/images/product/@image.ImageUrl" alt="Product Thumbnail">
                                </div>
                            }
                        </div>
                    </div>
                    <!-- End Thumbnail Image -->
                </div>
            </div>
            <div class="col-xl-7 col-lg-6">
                <div class="product-details-content-area product-details--golden" data-aos="fade-up" data-aos-delay="200">
                    <!-- Start  Product Details Text Area-->
                    <div class="product-details-text">
                        <h4 class="title">@Model.Product.Name</h4>
                        @if (Model.Product.Seller != null)
                        {
                            <h6>Người bán: @Model.Product.Seller.UserName (@Model.Product.Seller.Email)</h6>
                        }
                        else
                        {
                            <h5>Người bán: Thông tin người bán không có sẵn</h5>
                        }
                        <div class="d-flex align-items-center">
                            <ul class="review-star" style="list-style: none; margin: 0; padding: 0; display: flex; align-items: center;">
                                @for (int i = 0; i < Model.FullStarCount; i++)
                                {
                                    <li class="fill" style="margin-right: 2px;"><i class="ion-android-star"></i></li>
                                }
                                @for (int i = 0; i < Model.EmptyStarCount; i++)
                                {
                                    <li class="empty" style="margin-right: 2px;"><i class="ion-android-star"></i></li>
                                }
                            </ul>
                            <a href="#" class="customer-review ml-2" style="margin-left: 10px;">(@Model.AverageRating.ToString("0.0") sao)</a>
                        </div>


                        <div class="title mb-3">
                            @if (Model.Product.Price > Model.Product.DiscountedPrice)
                            {
                                <span style="font-size: 20px; font-weight: bold; color: #d9534f;">Giá: @Model.Product.DiscountedPrice.ToString("N0") VNĐ </span>
                                <span style="font-size: 14px; color: #6c757d; text-decoration: line-through; margin-left: 10px;">Giá cũ: @Model.Product.Price.ToString("N0") VNĐ</span>
                                <span style="font-size: 14px; color: margin-left: 10px;">(Giảm giá: @Model.Product.DiscountPercentage%)</span>
                            }
                            else
                            {
                                <span style="font-size: 20px; font-weight: bold; color: #5bc0de;">Giá: @Model.Product.Price.ToString("N0") VNĐ</span>
                            }
                        </div>

                    </div>

                    <!-- End  Product Details Text Area-->
                    <!-- Start Product Variable Area -->
                    <div class="product-details-variable">
                        <h4 class="title">Tùy Chọn</h4>

                        <!-- Product Variable Single Item -->
                        @if (Model.Product.StockQuantity > 0)
                        {
                            <div class="variable-single-item">
                                <div class="product-stock">
                                    <span class="product-stock-in">
                                        <i class="ion-checkmark-circled"></i>
                                    </span>
                                    @Model.Product.StockQuantity IN STOCK
                                </div>
                            </div>
                        }

                        <!-- Product Variable Single Item -->
                        @if (!string.IsNullOrEmpty(Model.Product.Color))
                        {
                            <div class="variable-single-item">
                                <span>Màu (@Model.Product.Color)</span>
                                <div class="product-variable-color">
                                    <label for="product-color-red">
                                        <input name="product-color" id="product-color-red" class="color-select" type="radio" checked>
                                        <span class="product-color-red"></span>
                                    </label>
                                    <!-- Thêm các màu khác -->
                                </div>
                            </div>
                        }

                        @if (!string.IsNullOrEmpty(Model.Product.Size))
                        {
                            <div class="variable-single-item">
                                <span>Size: (@Model.Product.Size)</span>
                                <select class="product-variable-size">
                                    <option selected value="1"> Chọn size</option>
                                    <option value="2">s</option>
                                    <option value="3">m</option>
                                    <option value="4">l</option>
                                    <option value="5">xl</option>
                                    <option value="6">xxl</option>
                                </select>
                            </div>
                        }

                        @if (!string.IsNullOrEmpty(Model.Product.Material))
                        {
                            <div class="variable-single-item">
                                <span>Chất liệu: @Model.Product.Material</span>
                            </div>
                        }

                        @if (!string.IsNullOrEmpty(Model.Product.Dimensions))
                        {
                            <div class="variable-single-item">
                                <span>Kích thước: @Model.Product.Dimensions</span>
                            </div>
                        }

                        <!-- Product Add To Cart Form -->
                        <form asp-action="Add" asp-controller="Cart" method="post">
                            <div class="d-flex align-items-center">
                                <div class="variable-single-item">
                                    <span>Số lượng</span>
                                    <div class="product-variable-quantity">
                                        <input name="quantity" min="1" max="100" value="1" type="number">
                                    </div>
                                </div>

                                <div class="product-add-to-cart-btn ms-3">
                                    <input type="hidden" name="Id" value="@Model.Product.Id" />
                                    <button type="submit" class="btn btn-success btn-lg">+ Thêm vào giỏ hàng</button>
                                </div>
                            </div>
                        </form>

                        <!-- Start Product Details Meta Area -->
                        <div class="product-details-meta mb-20">
                            <a href="wishlist.html" class="icon-space-right"><i class="icon-heart"></i>Thêm vào yêu thích</a>
                            <a href="compare.html" class="icon-space-right"><i class="icon-refresh"></i>So sánh</a>
                        </div>
                        <!-- End Product Details Meta Area -->
                    </div>

                    <!-- End Product Variable Area -->
                    <!-- Start  Product Details Catagories Area-->
                    <div class="product-details-catagory mb-2">
                        <span class="title mb-3">Danh mục:</span>
                        <ul>
                            <li><a href="#">@Model.Product.Category.Name</a></li>
                            <li><a href="#">@Model.Product.Brand.Name</a></li>
                        </ul>
                    </div>
                    <div class="product-details-catagory mb-2">
                        <span class="title mb-3">Đơn vị vận chuyển:</span>
                        <ul>
                            @{
                                bool hasShippingOptions = false;
                            }
                            @if (Model.Product.Express)
                            {
                                <li><a href="#">Hỏa tốc</a></li>
                                hasShippingOptions = true;
                            }
                            @if (Model.Product.Save)
                            {
                                <li><a href="#">Tiết kiệm</a></li>
                                hasShippingOptions = true;
                            }
                            @if (Model.Product.Fast)
                            {
                                <li><a href="#">Nhanh</a></li>
                                hasShippingOptions = true;
                            }
                            @if (!hasShippingOptions)
                            {
                                <li><a href="#">Không có</a></li>
                            }
                        </ul>
                    </div>

                    <!-- End  Product Details Catagories Area-->
                    <!-- Start  Product Details Social Area-->
                    <div class="product-details-social">
                        <span class="title mb-3">CHIA SẺ SẢN PHẨM NÀY:</span>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <!-- End  Product Details Social Area-->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Product Details Section -->
<!-- Start Product Content Tab Section -->
<div class="product-details-content-tab-section section-top-gap-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="product-details-content-tab-wrapper" data-aos="fade-up" data-aos-delay="0">

                    <!-- Start Product Details Tab Button -->
                    <ul class="nav tablist product-details-content-tab-btn d-flex justify-content-center">
                        <li>
                            <a class="nav-link active" data-bs-toggle="tab" href="#description">
                                Mô tả chi tiết
                            </a>
                        </li>

                        <li>
                            <a class="nav-link" data-bs-toggle="tab" href="#likeproduct">
                                Tương tự
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" data-bs-toggle="tab" href="#review">
                                Đánh giá (@Model.Ratings.Count())
                            </a>
                        </li>
                    </ul> <!-- End Product Details Tab Button -->
                    <!-- Start Product Details Tab Content -->
                    <div class="product-details-content-tab">
                        <div class="tab-content">
                            <!-- Start Product Details Tab Content Singel -->
                            <div class="tab-pane active show" id="description">
                                <div class="single-tab-content-item">
                                    @Html.Raw(Model.Product.Description)

                                    @if (!string.IsNullOrEmpty(Model.Product.Specifications))
                                    {
                                        <h4>Thông số kỹ thuật</h4>
                                        @Html.Raw(Model.Product.Specifications)
                                    }
                                </div>
                            </div>
                            <!-- End Product Details Tab Content Singel -->
                            <!-- Start Product Details Tab Content Singel -->
                            <div class="tab-pane" id="likeproduct">
                                <div class="single-tab-content-item">
                                    <table class="table table-bordered mb-20">
                                        <tbody>
                                            <tr>
                                                <th scope="row">Compositions</th>
                                                <td>Polyester</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Styles</th>
                                                <td>Girly</td>
                                            <tr>
                                                <th scope="row">Properties</th>
                                                <td>Short Dress</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <p>Fashion has been creating well-designed collections since 2010. The brand offers feminine designs delivering stylish separates and statement dresses which have since evolved into a full ready-to-wear collection in which every item is a vital part of a woman's wardrobe. The result? Cool, easy, chic looks with youthful elegance and unmistakable signature style. All the beautiful pieces are made in Italy and manufactured with the greatest attention. Now Fashion extends to a range of accessories including shoes, hats, belts and more!</p>
                                </div>
                            </div> <!-- End Product Details Tab Content Singel -->
                            <!-- Start Product Details Tab Content Singel -->
                            <div class="tab-pane" id="review">
                                <div class="single-tab-content-item">
                                    <!-- Start - Review Comment -->
                                    <ul class="comment">
                                        @foreach (var rating in Model.Ratings ?? new List<RatingModel>())
                                        {
                                            <li class="comment-list">
                                                <div class="comment-wrapper">
                                                    <div class="comment-img">
                                                        <img src="~/assets/images/user/image-3.png" alt="User Image">
                                                    </div>
                                                    <div class="comment-content">
                                                        <div class="comment-content-top">
                                                            <div class="comment-content-left">
                                                                
                                                                <h6 class="comment-name">@rating.User?.UserName
                                                                   
                                                                </h6>
                                                                <ul class="review-star">
                                                                    @for (int i = 0; i < rating.Rating; i++)
                                                                    {
                                                                        <li class="fill"><i class="ion-android-star"></i></li>
                                                                    }
                                                                    @for (int i = rating.Rating; i < 5; i++)
                                                                    {
                                                                        <li class="empty"><i class="ion-android-star"></i></li>
                                                                    }
                                                                </ul>
                                                            </div>
                                                            <div class="comment-content-right">
                                                                <a href="#"><i class="fa fa-reply"></i>Reply</a>
                                                            </div>
                                                        </div>
                                                        <div class="para-content">
                                                            <p>@rating.Comment</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        }
                                    </ul> <!-- End - Review Comment -->
                                    <!-- Form thêm đánh giá mới -->
                                    <!-- Form thêm đánh giá mới -->
                                    <div class="review-form">
                                        <div class="review-form-text-top">
                                            <h5>ADD A REVIEW</h5>
                                            <p>Your email address will not be published. Required fields are marked *</p>
                                        </div>

                                        <form asp-action="SubmitReview" asp-route-Slug="@Model.Product.Slug" method="post">
                                            <input type="hidden" asp-for="NewRating.ProductId" value="@Model.Product.Id" />
                                            <input type="hidden" asp-for="NewRating.UserId" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)" />


                                            <div class="form-group">
                                                <label asp-for="NewRating.Rating">Đánh giá</label>
                                                <select asp-for="NewRating.Rating" class="form-control">
                                                    <option value="">Chọn đánh giá</option>
                                                    <option value="1">1 sao</option>
                                                    <option value="2">2 sao</option>
                                                    <option value="3">3 sao</option>
                                                    <option value="4">4 sao</option>
                                                    <option value="5">5 sao</option>
                                                </select>
                                                <span asp-validation-for="NewRating.Rating" class="text-danger"></span>
                                            </div>

                                            <div class="form-group">
                                                <label asp-for="NewRating.Comment">Bình luận</label>
                                                <textarea asp-for="NewRating.Comment" class="form-control" rows="3"></textarea>
                                                <span asp-validation-for="NewRating.Comment" class="text-danger"></span>
                                            </div>

                                            <button type="submit" class="btn btn-primary">Gửi đánh giá</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- End Product Details Tab Content Singel -->
                        </div>
                    </div> <!-- End Product Details Tab Content -->

                </div>
            </div>
        </div>
    </div>
</div> <!-- End Product Content Tab Section -->
<!-- Start Product Default Slider Section -->
<div class="product-default-slider-section section-top-gap-100 section-fluid">
    <!-- Start Section Content Text Area -->
    <div class="section-title-wrapper" data-aos="fade-up" data-aos-delay="0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-content-gap">
                        <div class="secton-content">
                            <h3 class="section-title">NHỮNG SẢM PHẨM TƯƠNG TỰ</h3>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Section Content Text Area -->
    <div class="product-wrapper" data-aos="fade-up" data-aos-delay="200">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="product-slider-default-2rows default-slider-nav-arrow">
                        <!-- Slider main container -->
                        <div class="swiper-container product-default-slider-4grid-1row">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper">
                                @if (ViewBag.RelatedProducts != null)
                                {
                                    @foreach (var relatedProduct in ViewBag.RelatedProducts as IEnumerable<ProductModel>)
                                    {

                                        <!-- Start Product Default Single Item -->
                                        <div class="product-default-single-item product-color--golden swiper-slide">
                                            <div class="image-box">
                                                <a asp-action="DetailsDevice" asp-controller="Product" asp-route-Slug="@relatedProduct.Slug" class="image-link">
                                                    <img src="~/assets/images/product/@relatedProduct.Image" alt="">
                                                    <img src="~/assets/images/product/@relatedProduct.Image" alt="">
                                                </a>
                                                <div class="action-link">
                                                    <div class="action-link-left">
                                                        <a asp-action="Add" asp-controller="Cart" asp-route-Slug="@relatedProduct.Slug">Thêm vào giỏ</a>
                                                    </div>
                                                    <div class="action-link-right">
                                                        <a href="#" data-bs-toggle="modal" data-bs-target="#modalQuickview"><i class="icon-magnifier"></i></a>
                                                        <a href="wishlist.html"><i class="icon-heart"></i></a>
                                                        <a href="compare.html"><i class="icon-shuffle"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="content">
                                                <div class="content-left">
                                                    <h6 class="title"><a asp-action="DetailsFashion" asp-route-Slug="@relatedProduct.Slug">@relatedProduct.Name</a></h6>
                                                    <ul class="review-star">
                                                        <li class="fill"><i class="ion-android-star"></i></li>
                                                        <li class="fill"><i class="ion-android-star"></i></li>
                                                        <li class="fill"><i class="ion-android-star"></i></li>
                                                        <li class="fill"><i class="ion-android-star"></i></li>
                                                        <li class="empty"><i class="ion-android-star"></i></li>
                                                    </ul>
                                                </div>
                                                <div class="content-right">
                                                    <span class="price">@relatedProduct.Price.ToString("N0") VNĐ</span>
                                                </div>

                                            </div>
                                        </div>
                                        <!-- End Product Default Single Item -->
                                    }
                                }
                                else
                                {
                                    <p>No related products found.</p>
                                }
                            </div>
                        </div>
                        <!-- If we need navigation buttons -->
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Product Default Slider Section -->

<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('addToCartButton').addEventListener('click', function () {
            var productId = this.getAttribute('data-product-id');
            var quantity = document.getElementById('quantityInput').value;

            fetch('@Url.Action("Add", "Cart")', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ Id: productId, quantity: quantity })
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        alert('Sản phẩm đã được thêm vào giỏ hàng.');
                    } else {
                        alert('Có lỗi xảy ra.');
                    }
                });
        });
    });

</script>
