@model List<Dong_Xuan_Market_Online.Models.ViewModels.ProductDetailsViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="banner-section section-top-gap-100 section-fluid">
    <div class="banner-wrapper">
        <div class="container-fluid">
            <div class="row mb-n6">

                <div class="col-lg-6 col-12 mb-6">
                    <!-- Start Banner Single Item -->
                    <div class="banner-single-item banner-style-1 banner-animation img-responsive" data-aos="fade-up" data-aos-delay="0">
                        <div class="image">
                            <img src="assets/images/banner/cho-dong-xuan-1.jpg" alt="">
                        </div>
                        
                    </div>
                    <!-- End Banner Single Item -->
                </div>

                <div class="col-lg-6 col-12 mb-6">
                    <div class="row mb-n6">
                        <!-- Start Banner Single Item -->
                        <div class="col-lg-6 col-sm-6 mb-6">
                            <div class="banner-single-item banner-style-2 banner-animation img-responsive" data-aos="fade-up" data-aos-delay="0">
                                <div class="image">
                                    <img src="assets/images/banner/backgroud-home.jpg" alt="">
                                </div>
                                
                            </div>
                        </div>
                        <!-- End Banner Single Item -->
                        <!-- Start Banner Single Item -->
                        <div class="col-lg-6 col-sm-6 mb-6">
                            <div class="banner-single-item banner-style-2 banner-animation img-responsive" data-aos="fade-up" data-aos-delay="200">
                                <div class="image">
                                    <img src="assets/images/banner/cdn-vietbao-vn_cho-do-co-van-phuc-3-130416.jpg" alt="">
                                </div>
                                
                            </div>
                        </div>
                        <!-- End Banner Single Item -->
                        <!-- Start Banner Single Item -->
                        <div class="col-lg-6 col-sm-6 mb-6">
                            <div class="banner-single-item banner-style-2 banner-animation img-responsive" data-aos="fade-up" data-aos-delay="0">
                                <div class="image">
                                    <img src="assets/images/banner/Cho-Dem-Dong-Xuan-e1508152299678.png" alt="">
                                </div>
                                
                            </div>
                        </div>
                        <!-- End Banner Single Item -->
                        <!-- Start Banner Single Item -->
                        <div class="col-lg-6 col-sm-6 mb-6">
                            <div class="banner-single-item banner-style-2 banner-animation img-responsive" data-aos="fade-up" data-aos-delay="200">
                                <div class="image">
                                    <img src="assets/images/banner/cho-dong-xuan-co-gi-1125x750.jpg" alt="">
                                </div>
                                
                            </div>
                        </div>
                        <!-- End Banner Single Item -->
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
@Html.Partial("_CategoryPartial")
<!-- Start Service Section -->
<div class="product-default-slider-section section-top-gap-100 section-fluid">
    <!-- Start Section Content Text Area -->
    <div class="section-title-wrapper" data-aos="fade-up" data-aos-delay="0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-content-gap">
                        <div class="secton-content">
                            <h3 class="section-title">Khuyến mãi</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Section Content Text Area -->
    <div class="product-wrapper" data-aos="fade-up" data-aos-delay="200">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="product-slider-default-2rows default-slider-nav-arrow">
                        <!-- Slider main container -->
                        <div class="swiper-container product-default-slider-4grid-2row">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper">
                                <!-- Start Product Default Single Item -->
                                @foreach (var item in Model)
                                {
                                    @if (item.Product.DiscountPercentage > 0)
                                    {
                                    <div class="product-default-single-item product-color--golden swiper-slide">
                                        <div class="product-default-single-item product-color--golden" data-aos="fade-up" data-aos-delay="0">
                                            <div class="image-box">
                                                <a asp-action="ProductDetails" asp-controller="Product" asp-route-Id="@item.Product.Id" class="image-link">
                                                    <img src="~/assets/images/product/@item.Product.Image" alt="">
                                                    <img src="~/assets/images/product/default/home-1/default-10.jpg" alt="">
                                                </a>
                                                <div class="action-link">
                                                    <div class="action-link-left">
                                                        <a asp-action="Add" asp-controller="Cart" asp-route-Id="@item.Product.Id">Thêm vào giỏ</a>
                                                    </div>
                                                    <div class="action-link-right">
                                                        <a href="#" data-bs-toggle="modal" data-bs-target="#modalQuickview"><i class="icon-magnifier"></i></a>
                                                        <a href="wishlist.html"><i class="icon-heart"></i></a>
                                                        <a href="compare.html"><i class="icon-shuffle"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="content">
                                                <div class="content-left">
                                                    <h6 class="title"><a asp-action="ProductDetails" asp-route-id="@item.Product.Id">@item.Product.Name</a></h6>
                                                    <div class="d-flex align-items-center">
                                                        <ul class="review-star">
                                                            @for (int i = 0; i < item.FullStarCount; i++)
                                                            {
                                                                <li class="fill"><i class="ion-android-star"></i></li>
                                                            }
                                                            @for (int i = 0; i < item.EmptyStarCount; i++)
                                                            {
                                                                <li class="empty"><i class="ion-android-star"></i></li>
                                                            }
                                                        </ul>
                                                        <a href="#" class="customer-review ml-2">(@item.AverageRating.ToString("0.0") sao)</a>
                                                    </div>
                                                </div>
                                                <div class="content-right">
                                                    @if (item.Product.DiscountPercentage.HasValue && item.Product.DiscountPercentage > 0)
                                                    {
                                                        var discountedPrice = item.Product.Price * (1 - (decimal)item.Product.DiscountPercentage / 100);
                                                        <span class="price">
                                                            <span class="old-price" style="text-decoration: line-through;">@item.Product.Price.ToString("N0") VNĐ</span>
                                                            <span class="new-price">@discountedPrice.ToString("N0") VNĐ</span>
                                                        </span>
                                                    }
                                                    else
                                                    {
                                                        <span class="price">@item.Product.Price.ToString("N0") VNĐ</span>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    }
                                }
                                
                                <!-- End Product Default Single Item -->
                            </div>
                        </div>
                        <!-- If we need navigation buttons -->
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Service Section -->

<!-- End Product Default Slider Section -->
<!-- Start Banner Section -->
<div class="banner-section section-top-gap-100">
    <div class="banner-wrapper clearfix">
        <!-- Start Banner Single Item -->
        <a href="product-details-default.html">
            <div class="banner-single-item banner-style-8 banner-animation banner-color--green float-left" data-aos="fade-up" data-aos-delay="0">
                <div class="image">
                    <img class="img-fluid" src="assets/images/banner/banner-style-8-img-1.jpg" alt="">
                </div>
            </div>
        </a>
        <!-- End Banner Single Item -->
        <!-- Start Banner Single Item -->
        <a href="product-details-default.html">
            <div class="banner-single-item banner-style-8 banner-animation banner-color--green float-left" data-aos="fade-up" data-aos-delay="200">
                <div class="image">
                    <img class="img-fluid" src="assets/images/banner/banner-style-8-img-2.jpg" alt="">
                </div>
            </div>
        </a>
        <!-- End Banner Single Item -->
    </div>
</div>
<!-- End Banner Section -->
<!-- Start Product List View Slider Section -->
<div class="product-list-slider-section section-top-gap-100 section-fluid">
    <!-- Start Section Content Text Area -->
    <div class="section-title-wrapper" data-aos="fade-up" data-aos-delay="0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-content-gap">
                        <div class="secton-content">
                            <h3 class="section-title">San pham ban chay</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Section Content Text Area -->
    <div class="product-wrapper" data-aos="fade-up" data-aos-delay="200">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="product-list-slider-3rows default-slider-nav-arrow">
                        <!-- Slider main container -->
                        <div class="swiper-container product-listview-slider-4grid-3rows">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper">
                                <!-- Start Product ListView Single Item -->
                                <div class="product-listview-single-item product-color--green swiper-slide">
                                    <div class="image-box">
                                        <a href="product-details-default.html" class="image-link">
                                            <img src="assets/images/product/default/home-2/default-1.jpg" alt="">
                                            <img src="assets/images/product/default/home-2/default-2.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <h6 class="title"><a href="product-details-default.html">Consequuntur magni</a></h6>
                                        <ul class="review-star">
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="empty"><i class="ion-android-star"></i></li>
                                        </ul>
                                        <span class="price"> <del>$89.00</del> $80.00</span>
                                    </div>
                                </div>
                                <!-- End Product ListView Single Item -->
                                <!-- Start Product ListView Single Item -->
                                <div class="product-listview-single-item product-color--green swiper-slide">
                                    <div class="image-box">
                                        <a href="product-details-default.html" class="image-link">
                                            <img src="assets/images/product/default/home-2/default-3.jpg" alt="">
                                            <img src="assets/images/product/default/home-2/default-4.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <h6 class="title"><a href="product-details-default.html">Pellentesque posuere</a></h6>
                                        <ul class="review-star">
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="empty"><i class="ion-android-star"></i></li>
                                        </ul>
                                        <span class="price">$45.00</span>
                                    </div>
                                </div>
                                <!-- End Product ListView Single Item -->
                                <!-- Start Product ListView Single Item -->
                                <div class="product-listview-single-item product-color--green swiper-slide">
                                    <div class="image-box">
                                        <a href="product-details-default.html" class="image-link">
                                            <img src="assets/images/product/default/home-2/default-5.jpg" alt="">
                                            <img src="assets/images/product/default/home-2/default-6.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <h6 class="title"><a href="product-details-default.html">Kaoreet lobortis sagit</a></h6>
                                        <ul class="review-star">
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="empty"><i class="ion-android-star"></i></li>
                                        </ul>
                                        <span class="price">$95.00</span>
                                    </div>
                                </div>
                                <!-- End Product ListView Single Item -->
                                <!-- Start Product ListView Single Item -->
                                <div class="product-listview-single-item product-color--green swiper-slide">
                                    <div class="image-box">
                                        <a href="product-details-default.html" class="image-link">
                                            <img src="assets/images/product/default/home-2/default-7.jpg" alt="">
                                            <img src="assets/images/product/default/home-2/default-8.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <h6 class="title"><a href="product-details-default.html">Phasellus vel hendreri</a></h6>
                                        <ul class="review-star">
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="empty"><i class="ion-android-star"></i></li>
                                        </ul>
                                        <span class="price">$55.00</span>
                                    </div>
                                </div>
                                <!-- End Product ListView Single Item -->
                                <!-- Start Product ListView Single Item -->
                                <div class="product-listview-single-item product-color--green swiper-slide">
                                    <div class="image-box">
                                        <a href="product-details-default.html" class="image-link">
                                            <img src="assets/images/product/default/home-2/default-9.jpg" alt="">
                                            <img src="assets/images/product/default/home-2/default-10.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <h6 class="title"><a href="product-details-default.html">Duis pulvinar obortis</a></h6>
                                        <ul class="review-star">
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="empty"><i class="ion-android-star"></i></li>
                                        </ul>
                                        <span class="price"><del>$84.00</del> $79.00</span>
                                    </div>
                                </div>
                                <!-- End Product ListView Single Item -->
                                <!-- Start Product ListView Single Item -->
                                <div class="product-listview-single-item product-color--green swiper-slide">
                                    <div class="image-box">
                                        <a href="product-details-default.html" class="image-link">
                                            <img src="assets/images/product/default/home-2/default-11.jpg" alt="">
                                            <img src="assets/images/product/default/home-2/default-12.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <h6 class="title"><a href="product-details-default.html">Cras neque metus</a></h6>
                                        <ul class="review-star">
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="empty"><i class="ion-android-star"></i></li>
                                        </ul>
                                        <span class="price"><del>$70.00</del> $60.00</span>
                                    </div>
                                </div>
                                <!-- End Product ListView Single Item -->
                                <!-- Start Product ListView Single Item -->
                                <div class="product-listview-single-item product-color--green swiper-slide">
                                    <div class="image-box">
                                        <a href="product-details-default.html" class="image-link">
                                            <img src="assets/images/product/default/home-2/default-13.jpg" alt="">
                                            <img src="assets/images/product/default/home-2/default-14.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <h6 class="title"><a href="product-details-default.html">Officiis debitis varius</a></h6>
                                        <ul class="review-star">
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="empty"><i class="ion-android-star"></i></li>
                                        </ul>
                                        <span class="price">$90.00</span>
                                    </div>
                                </div>
                                <!-- End Product ListView Single Item -->
                                <!-- Start Product ListView Single Item -->
                                <div class="product-listview-single-item product-color--green swiper-slide">
                                    <div class="image-box">
                                        <a href="product-details-default.html" class="image-link">
                                            <img src="assets/images/product/default/home-2/default-15.jpg" alt="">
                                            <img src="assets/images/product/default/home-2/default-16.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <h6 class="title"><a href="product-details-default.html">Ornare sed consequat</a></h6>
                                        <ul class="review-star">
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="empty"><i class="ion-android-star"></i></li>
                                        </ul>
                                        <span class="price">$110.00</span>
                                    </div>
                                </div>
                                <!-- End Product ListView Single Item -->
                                <!-- Start Product ListView Single Item -->
                                <div class="product-listview-single-item product-color--green swiper-slide">
                                    <div class="image-box">
                                        <a href="product-details-default.html" class="image-link">
                                            <img src="assets/images/product/default/home-2/default-17.jpg" alt="">
                                            <img src="assets/images/product/default/home-2/default-18.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <h6 class="title"><a href="product-details-default.html">Convallis quam sit</a></h6>
                                        <ul class="review-star">
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="empty"><i class="ion-android-star"></i></li>
                                        </ul>
                                        <span class="price">$45.00 - $95.00</span>
                                    </div>
                                </div>
                                <!-- End Product ListView Single Item -->
                                <!-- Start Product ListView Single Item -->
                                <div class="product-listview-single-item product-color--green swiper-slide">
                                    <div class="image-box">
                                        <a href="product-details-default.html" class="image-link">
                                            <img src="assets/images/product/default/home-2/default-2.jpg" alt="">
                                            <img src="assets/images/product/default/home-2/default-1.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <h6 class="title"><a href="product-details-default.html">Donec eu libero ac</a></h6>
                                        <ul class="review-star">
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="empty"><i class="ion-android-star"></i></li>
                                        </ul>
                                        <span class="price">$74.00</span>
                                    </div>
                                </div>
                                <!-- End Product ListView Single Item -->
                                <!-- Start Product ListView Single Item -->
                                <div class="product-listview-single-item product-color--green swiper-slide">
                                    <div class="image-box">
                                        <a href="product-details-default.html" class="image-link">
                                            <img src="assets/images/product/default/home-2/default-4.jpg" alt="">
                                            <img src="assets/images/product/default/home-2/default-3.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <h6 class="title"><a href="product-details-default.html">Dolorum fuga eget</a></h6>
                                        <ul class="review-star">
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="empty"><i class="ion-android-star"></i></li>
                                        </ul>
                                        <span class="price">$71.00</span>
                                    </div>
                                </div>
                                <!-- End Product ListView Single Item -->
                                <!-- Start Product ListView Single Item -->
                                <div class="product-listview-single-item product-color--green swiper-slide">
                                    <div class="image-box">
                                        <a href="product-details-default.html" class="image-link">
                                            <img src="assets/images/product/default/home-2/default-6.jpg" alt="">
                                            <img src="assets/images/product/default/home-2/default-5.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <h6 class="title"><a href="product-details-default.html">Nostrum exercitation</a></h6>
                                        <ul class="review-star">
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="empty"><i class="ion-android-star"></i></li>
                                        </ul>
                                        <span class="price">$86.00</span>
                                    </div>
                                </div>
                                <!-- End Product ListView Single Item -->
                                <!-- Start Product ListView Single Item -->
                                <div class="product-listview-single-item product-color--green swiper-slide">
                                    <div class="image-box">
                                        <a href="product-details-default.html" class="image-link">
                                            <img src="assets/images/product/default/home-2/default-8.jpg" alt="">
                                            <img src="assets/images/product/default/home-2/default-7.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <h6 class="title"><a href="product-details-default.html">Epicuri per lobortis</a></h6>
                                        <ul class="review-star">
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="empty"><i class="ion-android-star"></i></li>
                                        </ul>
                                        <span class="price">$68.00</span>
                                    </div>
                                </div>
                                <!-- End Product ListView Single Item -->
                                <!-- Start Product ListView Single Item -->
                                <div class="product-listview-single-item product-color--green swiper-slide">
                                    <div class="image-box">
                                        <a href="product-details-default.html" class="image-link">
                                            <img src="assets/images/product/default/home-2/default-10.jpg" alt="">
                                            <img src="assets/images/product/default/home-2/default-9.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <h6 class="title"><a href="product-details-default.html">Condimentum posuere</a></h6>
                                        <ul class="review-star">
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="empty"><i class="ion-android-star"></i></li>
                                        </ul>
                                        <span class="price">$115.00</span>
                                    </div>
                                </div>
                                <!-- End Product ListView Single Item -->
                                <!-- Start Product ListView Single Item -->
                                <div class="product-listview-single-item product-color--green swiper-slide">
                                    <div class="image-box">
                                        <a href="product-details-default.html" class="image-link">
                                            <img src="assets/images/product/default/home-2/default-12.jpg" alt="">
                                            <img src="assets/images/product/default/home-2/default-11.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <h6 class="title"><a href="product-details-default.html">Laudantium enim fringi</a></h6>
                                        <ul class="review-star">
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="empty"><i class="ion-android-star"></i></li>
                                        </ul>
                                        <span class="price">$86.00</span>
                                    </div>
                                </div>
                                <!-- End Product ListView Single Item -->
                            </div>
                        </div>
                        <!-- If we need navigation buttons -->
                        <div class="swiper-button-prev d-none d-md-block"></div>
                        <div class="swiper-button-next d-none d-md-block"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Product List View Slider Section -->
<div class="product-default-slider-section section-top-gap-100 section-fluid">
<!-- Start Section Content Text Area -->
<div class="section-title-wrapper" data-aos="fade-up" data-aos-delay="0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-content-gap">
                    <div class="secton-content">
                        <h3 class="section-title">Danh cho ban</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Start Section Content Text Area -->
<div class="product-wrapper" data-aos="fade-up" data-aos-delay="200">
    <div class="container">
        <div class="row">
            <div class="col-12">
                 <div class="container">
                     <div class="row">
                         <div class="col-3">
                            <!-- Start Product Default Single Item -->
                            <div class="product-default-single-item product-color--golden swiper-slide">
                                <div class="image-box">
                                    <a asp-action="Sanpham" class="image-link">
                                        <img src="~/assets//images/product/default/home-1/iphone 14 pro -1.png" alt="">
                                        <img src="~/assets//images/product/default/home-1/iphone 14 pro max -2.png" alt="">
                                    </a>
                                    <div class="tag">
                                        <span>sale</span>
                                    </div>
                                    <div class="action-link">
                                        <div class="action-link-left">
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#modalAddcart">Thêm vào giỏ</a>
                                        </div>
                                        <div class="action-link-right">
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#modalQuickview">
                                                <i class="icon-magnifier"></i>
                                            </a>
                                            <a asp-action="Thichsanpham"><i class="icon-heart"></i></a>
                                            <a asp-action="Sosanh"><i class="icon-shuffle"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="content-left">
                                        <h6 class="title"> <a asp-action="Sanpham">  IPHONE 14 PRO </a> </h6>
                                        <ul class="review-star">
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="empty"><i class="ion-android-star"></i></li>
                                        </ul>
                                    </div>
                                    <div class="content-right">
                                        <span class="price">$</span>
                                    </div>
                                </div>
                            </div>
                            <!-- End Product Default Single Item -->
                         </div>
                         <div class="col-3">
                            <!-- Start Product Default Single Item -->
                            <div class="product-default-single-item product-color--golden swiper-slide">
                                <div class="image-box">
                                    <a asp-action="Sanpham" class="image-link">
                                        <img src="~/assets//images/product/default/home-1/iphone 14 pro -1.png" alt="">
                                        <img src="~/assets//images/product/default/home-1/iphone 14 pro max -2.png" alt="">
                                    </a>
                                    <div class="tag">
                                        <span>sale</span>
                                    </div>
                                    <div class="action-link">
                                        <div class="action-link-left">
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#modalAddcart">Thêm vào giỏ</a>
                                        </div>
                                        <div class="action-link-right">
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#modalQuickview">
                                                <i class="icon-magnifier"></i>
                                            </a>
                                            <a asp-action="Thichsanpham"><i class="icon-heart"></i></a>
                                            <a asp-action="Sosanh"><i class="icon-shuffle"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="content-left">
                                        <h6 class="title"> <a asp-action="Sanpham">  IPHONE 14 PRO </a> </h6>
                                        <ul class="review-star">
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="empty"><i class="ion-android-star"></i></li>
                                        </ul>
                                    </div>
                                    <div class="content-right">
                                        <span class="price">$</span>
                                    </div>
                                </div>
                            </div>
                            <!-- End Product Default Single Item -->
                         </div>
                         <div class="col-3">
                            <!-- Start Product Default Single Item -->
                            <div class="product-default-single-item product-color--golden swiper-slide">
                                <div class="image-box">
                                    <a asp-action="Sanpham" class="image-link">
                                        <img src="~/assets//images/product/default/home-1/iphone 14 pro -1.png" alt="">
                                        <img src="~/assets//images/product/default/home-1/iphone 14 pro max -2.png" alt="">
                                    </a>
                                    <div class="tag">
                                        <span>sale</span>
                                    </div>
                                    <div class="action-link">
                                        <div class="action-link-left">
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#modalAddcart">Thêm vào giỏ</a>
                                        </div>
                                        <div class="action-link-right">
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#modalQuickview">
                                                <i class="icon-magnifier"></i>
                                            </a>
                                            <a asp-action="Thichsanpham"><i class="icon-heart"></i></a>
                                            <a asp-action="Sosanh"><i class="icon-shuffle"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="content-left">
                                        <h6 class="title"> <a asp-action="Sanpham">  IPHONE 14 PRO </a> </h6>
                                        <ul class="review-star">
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="empty"><i class="ion-android-star"></i></li>
                                        </ul>
                                    </div>
                                    <div class="content-right">
                                        <span class="price">$</span>
                                    </div>
                                </div>
                            </div>
                            <!-- End Product Default Single Item -->
                         </div>
                         <div class="col-3">
                            <!-- Start Product Default Single Item -->
                            <div class="product-default-single-item product-color--golden swiper-slide">
                                <div class="image-box">
                                    <a asp-action="Sanpham" class="image-link">
                                        <img src="~/assets//images/product/default/home-1/iphone 14 pro -1.png" alt="">
                                        <img src="~/assets//images/product/default/home-1/iphone 14 pro max -2.png" alt="">
                                    </a>
                                    <div class="tag">
                                        <span>sale</span>
                                    </div>
                                    <div class="action-link">
                                        <div class="action-link-left">
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#modalAddcart">Thêm vào giỏ</a>
                                        </div>
                                        <div class="action-link-right">
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#modalQuickview">
                                                <i class="icon-magnifier"></i>
                                            </a>
                                            <a asp-action="Thichsanpham"><i class="icon-heart"></i></a>
                                            <a asp-action="Sosanh"><i class="icon-shuffle"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="content-left">
                                        <h6 class="title"> <a asp-action="Sanpham">  IPHONE 14 PRO </a> </h6>
                                        <ul class="review-star">
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="empty"><i class="ion-android-star"></i></li>
                                        </ul>
                                    </div>
                                    <div class="content-right">
                                        <span class="price">$</span>
                                    </div>
                                </div>
                            </div>
                            <!-- End Product Default Single Item -->
                         </div>
                         <div class="col-3">
                            <!-- Start Product Default Single Item -->
                            <div class="product-default-single-item product-color--golden swiper-slide">
                                <div class="image-box">
                                    <a asp-action="Sanpham" class="image-link">
                                        <img src="~/assets//images/product/default/home-1/iphone 14 pro -1.png" alt="">
                                        <img src="~/assets//images/product/default/home-1/iphone 14 pro max -2.png" alt="">
                                    </a>
                                    <div class="tag">
                                        <span>sale</span>
                                    </div>
                                    <div class="action-link">
                                        <div class="action-link-left">
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#modalAddcart">Thêm vào giỏ</a>
                                        </div>
                                        <div class="action-link-right">
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#modalQuickview">
                                                <i class="icon-magnifier"></i>
                                            </a>
                                            <a asp-action="Thichsanpham"><i class="icon-heart"></i></a>
                                            <a asp-action="Sosanh"><i class="icon-shuffle"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="content-left">
                                        <h6 class="title"> <a asp-action="Sanpham">  IPHONE 14 PRO </a> </h6>
                                        <ul class="review-star">
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="empty"><i class="ion-android-star"></i></li>
                                        </ul>
                                    </div>
                                    <div class="content-right">
                                        <span class="price">$</span>
                                    </div>
                                </div>
                            </div>
                            <!-- End Product Default Single Item -->
                         </div>
                         <div class="col-3">
                            <!-- Start Product Default Single Item -->
                            <div class="product-default-single-item product-color--golden swiper-slide">
                                <div class="image-box">
                                    <a asp-action="Sanpham" class="image-link">
                                        <img src="~/assets//images/product/default/home-1/iphone 14 pro -1.png" alt="">
                                        <img src="~/assets//images/product/default/home-1/iphone 14 pro max -2.png" alt="">
                                    </a>
                                    <div class="tag">
                                        <span>sale</span>
                                    </div>
                                    <div class="action-link">
                                        <div class="action-link-left">
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#modalAddcart">Thêm vào giỏ</a>
                                        </div>
                                        <div class="action-link-right">
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#modalQuickview">
                                                <i class="icon-magnifier"></i>
                                            </a>
                                            <a asp-action="Thichsanpham"><i class="icon-heart"></i></a>
                                            <a asp-action="Sosanh"><i class="icon-shuffle"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="content-left">
                                        <h6 class="title"> <a asp-action="Sanpham">  IPHONE 14 PRO </a> </h6>
                                        <ul class="review-star">
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="empty"><i class="ion-android-star"></i></li>
                                        </ul>
                                    </div>
                                    <div class="content-right">
                                        <span class="price">$</span>
                                    </div>
                                </div>
                            </div>
                            <!-- End Product Default Single Item -->
                         </div>
                         <div class="col-3">
                            <!-- Start Product Default Single Item -->
                            <div class="product-default-single-item product-color--golden swiper-slide">
                                <div class="image-box">
                                    <a asp-action="Sanpham" class="image-link">
                                        <img src="~/assets//images/product/default/home-1/iphone 14 pro -1.png" alt="">
                                        <img src="~/assets//images/product/default/home-1/iphone 14 pro max -2.png" alt="">
                                    </a>
                                    <div class="tag">
                                        <span>sale</span>
                                    </div>
                                    <div class="action-link">
                                        <div class="action-link-left">
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#modalAddcart">Thêm vào giỏ</a>
                                        </div>
                                        <div class="action-link-right">
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#modalQuickview">
                                                <i class="icon-magnifier"></i>
                                            </a>
                                            <a asp-action="Thichsanpham"><i class="icon-heart"></i></a>
                                            <a asp-action="Sosanh"><i class="icon-shuffle"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="content-left">
                                        <h6 class="title"> <a asp-action="Sanpham">  IPHONE 14 PRO </a> </h6>
                                        <ul class="review-star">
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="empty"><i class="ion-android-star"></i></li>
                                        </ul>
                                    </div>
                                    <div class="content-right">
                                        <span class="price">$</span>
                                    </div>
                                </div>
                            </div>
                            <!-- End Product Default Single Item -->
                         </div>
                         <div class="col-3">
                            <!-- Start Product Default Single Item -->
                            <div class="product-default-single-item product-color--golden swiper-slide">
                                <div class="image-box">
                                    <a asp-action="Sanpham" class="image-link">
                                        <img src="~/assets//images/product/default/home-1/iphone 14 pro -1.png" alt="">
                                        <img src="~/assets//images/product/default/home-1/iphone 14 pro max -2.png" alt="">
                                    </a>
                                    <div class="tag">
                                        <span>sale</span>
                                    </div>
                                    <div class="action-link">
                                        <div class="action-link-left">
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#modalAddcart">Thêm vào giỏ</a>
                                        </div>
                                        <div class="action-link-right">
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#modalQuickview">
                                                <i class="icon-magnifier"></i>
                                            </a>
                                            <a asp-action="Thichsanpham"><i class="icon-heart"></i></a>
                                            <a asp-action="Sosanh"><i class="icon-shuffle"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="content-left">
                                        <h6 class="title"> <a asp-action="Sanpham">  IPHONE 14 PRO </a> </h6>
                                        <ul class="review-star">
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="empty"><i class="ion-android-star"></i></li>
                                        </ul>
                                    </div>
                                    <div class="content-right">
                                        <span class="price">$</span>
                                    </div>
                                </div>
                            </div>
                            <!-- End Product Default Single Item -->
                         </div>
                         <div class="col-3">
                            <!-- Start Product Default Single Item -->
                            <div class="product-default-single-item product-color--golden swiper-slide">
                                <div class="image-box">
                                    <a asp-action="Sanpham" class="image-link">
                                        <img src="~/assets//images/product/default/home-1/iphone 14 pro -1.png" alt="">
                                        <img src="~/assets//images/product/default/home-1/iphone 14 pro max -2.png" alt="">
                                    </a>
                                    <div class="tag">
                                        <span>sale</span>
                                    </div>
                                    <div class="action-link">
                                        <div class="action-link-left">
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#modalAddcart">Thêm vào giỏ</a>
                                        </div>
                                        <div class="action-link-right">
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#modalQuickview">
                                                <i class="icon-magnifier"></i>
                                            </a>
                                            <a asp-action="Thichsanpham"><i class="icon-heart"></i></a>
                                            <a asp-action="Sosanh"><i class="icon-shuffle"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="content-left">
                                        <h6 class="title"> <a asp-action="Sanpham">  IPHONE 14 PRO </a> </h6>
                                        <ul class="review-star">
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="empty"><i class="ion-android-star"></i></li>
                                        </ul>
                                    </div>
                                    <div class="content-right">
                                        <span class="price">$</span>
                                    </div>
                                </div>
                            </div>
                            <!-- End Product Default Single Item -->
                         </div>
                         <div class="col-3">
                            <!-- Start Product Default Single Item -->
                            <div class="product-default-single-item product-color--golden swiper-slide">
                                <div class="image-box">
                                    <a asp-action="Sanpham" class="image-link">
                                        <img src="~/assets//images/product/default/home-1/iphone 14 pro -1.png" alt="">
                                        <img src="~/assets//images/product/default/home-1/iphone 14 pro max -2.png" alt="">
                                    </a>
                                    <div class="tag">
                                        <span>sale</span>
                                    </div>
                                    <div class="action-link">
                                        <div class="action-link-left">
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#modalAddcart">Thêm vào giỏ</a>
                                        </div>
                                        <div class="action-link-right">
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#modalQuickview">
                                                <i class="icon-magnifier"></i>
                                            </a>
                                            <a asp-action="Thichsanpham"><i class="icon-heart"></i></a>
                                            <a asp-action="Sosanh"><i class="icon-shuffle"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="content-left">
                                        <h6 class="title"> <a asp-action="Sanpham">  IPHONE 14 PRO </a> </h6>
                                        <ul class="review-star">
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="fill"><i class="ion-android-star"></i></li>
                                            <li class="empty"><i class="ion-android-star"></i></li>
                                        </ul>
                                    </div>
                                    <div class="content-right">
                                        <span class="price">$</span>
                                    </div>
                                </div>
                            </div>
                            <!-- End Product Default Single Item -->
                         </div>
                     </div>
                 </div>
                  <!-- Start Pagination -->
                 <div class="page-pagination text-center" data-aos="fade-up"  data-aos-delay="0">
                     <ul>
                         <li><a class="active" href="#">1</a></li>
                         <li><a href="#">2</a></li>
                         <li><a href="#">3</a></li>
                         <li><a href="#"><i class="ion-ios-skipforward"></i></a></li>
                     </ul>
                  </div> <!-- End Pagination -->
            </div>
        </div>
    </div>
</div>
</div>
<!-- End Service Section -->


<!-- Start Blog Slider Section -->
<div class="blog-default-slider-section section-top-gap-100 section-fluid">
    <!-- Start Section Content Text Area -->
    <div class="section-title-wrapper" data-aos="fade-up" data-aos-delay="0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-content-gap">
                        <div class="secton-content">
                            <h3 class="section-title">Tin Tức Mới</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Section Content Text Area -->
    <div class="blog-wrapper" data-aos="fade-up" data-aos-delay="200">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="blog-default-slider default-slider-nav-arrow">
                        <!-- Slider main container -->
                        <div class="swiper-container blog-slider">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper">
                                <!-- Start Product Default Single Item -->
                                <div class="blog-default-single-item blog-color--golden swiper-slide">
                                    <div class="image-box">
                                        <a href="https://kenh14.vn/iphone-14-va-iphone-14-plus-thiet-ke-khong-doi-camera-selfie-tu-dong-lay-net-chip-a15-ho-tro-lien-lac-ve-tinh-gia-tu-799-usd-20220908020156189.chn"
                                           class="image-link"><img class="img-fluid" src="~/assets//images/blog/Blog-1.png" alt=""></a>
                                    </div>
                                    <div class="content">
                                        <h6 class="title">
                                            <a href="https://kenh14.vn/iphone-14-va-iphone-14-plus-thiet-ke-khong-doi-camera-selfie-tu-dong-lay-net-chip-a15-ho-tro-lien-lac-ve-tinh-gia-tu-799-usd-20220908020156189.chn">
                                                Giới Thiệu Iphone Mùa Thu 2022
                                            </a>
                                        </h6>
                                        <p>
                                            Sau nhiều tin đồn rò rỉ, tại sự kiện "Far out" tổ chức rạng sáng ngày 7/9
                                            theo giờ Việt Nam,Apple chính thức giới thiệu dòng sản phẩm iPhone 14
                                            series với sự xuất hiện của 4 phiên bản:iPhone 14, iPhone 14 Plus,
                                            iPhone 14 Pro và iPhone 14 Pro Max.

                                        </p>
                                        <div class="inner">
                                            <a href="https://kenh14.vn/iphone-14-va-iphone-14-plus-thiet-ke-khong-doi-camera-selfie-tu-dong-lay-net-chip-a15-ho-tro-lien-lac-ve-tinh-gia-tu-799-usd-20220908020156189.chn"
                                               class="read-more-btn icon-space-left">
                                                Đọc Thêm <span>
                                                    <i class="ion-ios-arrow-thin-right"></i>
                                                </span>
                                            </a>
                                            <div class="post-meta">
                                                <a href="https://kenh14.vn/iphone-14-va-iphone-14-plus-thiet-ke-khong-doi-camera-selfie-tu-dong-lay-net-chip-a15-ho-tro-lien-lac-ve-tinh-gia-tu-799-usd-20220908020156189.chn" class="date">24 Apr</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Product Default Single Item -->
                                <!-- Start Product Default Single Item -->
                                <div class="blog-default-single-item blog-color--golden swiper-slide">
                                    <div class="image-box">
                                        <a href="https://www.dienmayxanh.com/kinh-nghiem-hay/top-xx-phim-chieu-rap-hay-moi-nhat-thang-12-2020-1310334?fbclid=IwAR0d0BJjFJgCYTDaQam2c8H_uc1XFdVx9HLGb5f6aIePEgvFD2m0JAWjw3g"
                                           class="image-link"><img class="img-fluid" src="~/assets//images/blog/Blog-2.png" alt=""> </a>
                                    </div>
                                    <div class="content">
                                        <h6 class="title">
                                            <a href="https://www.dienmayxanh.com/kinh-nghiem-hay/top-xx-phim-chieu-rap-hay-moi-nhat-thang-12-2020-1310334?fbclid=IwAR0d0BJjFJgCYTDaQam2c8H_uc1XFdVx9HLGb5f6aIePEgvFD2m0JAWjw3g">
                                                Top 7 thiết bị, điện thoại Samsung mới nhất 2021
                                            </a>
                                        </h6>
                                        <p>
                                            Samsung Galaxy Watch 4 bao gồm 2 model Watch 4 và Watch 4 Classic. Dòng Classic
                                            với thiết kế đơn giản, tinh tế pha một chút hoải cổ. Dòng Watch 4 với thiết kế
                                            năng động và trẻ trung nhưng vẫn giữ được nét đặc trưng của Samsung. Cả hai
                                            đều được trang bị màn hình công nghệ Super AMOLED với kích thước 1.36 inch với
                                            độ phân giải 450 x 450 pixels cho khả năng hiển thị tối ưu.
                                        </p>
                                        <div class="inner">
                                            <a href="https://www.dienmayxanh.com/kinh-nghiem-hay/top-xx-phim-chieu-rap-hay-moi-nhat-thang-12-2020-1310334?fbclid=IwAR0d0BJjFJgCYTDaQam2c8H_uc1XFdVx9HLGb5f6aIePEgvFD2m0JAWjw3g" class="read-more-btn icon-space-left">
                                                Đọc Thêm <span>
                                                    <i class="ion-ios-arrow-thin-right"></i>
                                                </span>
                                            </a>
                                            <div class="post-meta">
                                                <a href="https://www.dienmayxanh.com/kinh-nghiem-hay/top-xx-phim-chieu-rap-hay-moi-nhat-thang-12-2020-1310334?fbclid=IwAR0d0BJjFJgCYTDaQam2c8H_uc1XFdVx9HLGb5f6aIePEgvFD2m0JAWjw3g" class="date">24 Apr</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Product Default Single Item -->
                                <!-- Start Product Default Single Item -->
                                <div class="blog-default-single-item blog-color--golden swiper-slide">
                                    <div class="image-box">
                                        <a href="https://kenh14.vn/iphone-14-va-iphone-14-plus-thiet-ke-khong-doi-camera-selfie-tu-dong-lay-net-chip-a15-ho-tro-lien-lac-ve-tinh-gia-tu-799-usd-20220908020156189.chn"
                                           class="image-link"><img class="img-fluid" src="~/assets//images/blog/Blog-1.png" alt=""></a>
                                    </div>
                                    <div class="content">
                                        <h6 class="title">
                                            <a href="https://kenh14.vn/iphone-14-va-iphone-14-plus-thiet-ke-khong-doi-camera-selfie-tu-dong-lay-net-chip-a15-ho-tro-lien-lac-ve-tinh-gia-tu-799-usd-20220908020156189.chn">
                                                Giới Thiệu Iphone Mùa Thu 2022
                                            </a>
                                        </h6>
                                        <p>
                                            Sau nhiều tin đồn rò rỉ, tại sự kiện "Far out" tổ chức rạng sáng ngày 7/9
                                            theo giờ Việt Nam,Apple chính thức giới thiệu dòng sản phẩm iPhone 14
                                            series với sự xuất hiện của 4 phiên bản:iPhone 14, iPhone 14 Plus,
                                            iPhone 14 Pro và iPhone 14 Pro Max.

                                        </p>
                                        <div class="inner">
                                            <a href="https://kenh14.vn/iphone-14-va-iphone-14-plus-thiet-ke-khong-doi-camera-selfie-tu-dong-lay-net-chip-a15-ho-tro-lien-lac-ve-tinh-gia-tu-799-usd-20220908020156189.chn"
                                               class="read-more-btn icon-space-left">
                                                Đọc Thêm <span>
                                                    <i class="ion-ios-arrow-thin-right"></i>
                                                </span>
                                            </a>
                                            <div class="post-meta">
                                                <a href="https://kenh14.vn/iphone-14-va-iphone-14-plus-thiet-ke-khong-doi-camera-selfie-tu-dong-lay-net-chip-a15-ho-tro-lien-lac-ve-tinh-gia-tu-799-usd-20220908020156189.chn" class="date">24 Apr</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Product Default Single Item -->
                                <!-- Start Product Default Single Item -->
                                <div class="blog-default-single-item blog-color--golden swiper-slide">
                                    <div class="image-box">
                                        <a href="https://www.dienmayxanh.com/kinh-nghiem-hay/top-xx-phim-chieu-rap-hay-moi-nhat-thang-12-2020-1310334?fbclid=IwAR0d0BJjFJgCYTDaQam2c8H_uc1XFdVx9HLGb5f6aIePEgvFD2m0JAWjw3g"
                                           class="image-link"><img class="img-fluid" src="~/assets//images/blog/Blog-2.png" alt=""> </a>
                                    </div>
                                    <div class="content">
                                        <h6 class="title">
                                            <a href="https://www.dienmayxanh.com/kinh-nghiem-hay/top-xx-phim-chieu-rap-hay-moi-nhat-thang-12-2020-1310334?fbclid=IwAR0d0BJjFJgCYTDaQam2c8H_uc1XFdVx9HLGb5f6aIePEgvFD2m0JAWjw3g">
                                                Top 7 thiết bị, điện thoại Samsung mới nhất 2021
                                            </a>
                                        </h6>
                                        <p>
                                            Samsung Galaxy Watch 4 bao gồm 2 model Watch 4 và Watch 4 Classic. Dòng Classic
                                            với thiết kế đơn giản, tinh tế pha một chút hoải cổ. Dòng Watch 4 với thiết kế
                                            năng động và trẻ trung nhưng vẫn giữ được nét đặc trưng của Samsung. Cả hai
                                            đều được trang bị màn hình công nghệ Super AMOLED với kích thước 1.36 inch với
                                            độ phân giải 450 x 450 pixels cho khả năng hiển thị tối ưu.
                                        </p>
                                        <div class="inner">
                                            <a href="https://www.dienmayxanh.com/kinh-nghiem-hay/top-xx-phim-chieu-rap-hay-moi-nhat-thang-12-2020-1310334?fbclid=IwAR0d0BJjFJgCYTDaQam2c8H_uc1XFdVx9HLGb5f6aIePEgvFD2m0JAWjw3g" class="read-more-btn icon-space-left">
                                                Đọc Thêm <span>
                                                    <i class="ion-ios-arrow-thin-right"></i>
                                                </span>
                                            </a>
                                            <div class="post-meta">
                                                <a href="https://www.dienmayxanh.com/kinh-nghiem-hay/top-xx-phim-chieu-rap-hay-moi-nhat-thang-12-2020-1310334?fbclid=IwAR0d0BJjFJgCYTDaQam2c8H_uc1XFdVx9HLGb5f6aIePEgvFD2m0JAWjw3g" class="date">24 Apr</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Product Default Single Item -->
                                <!-- Start Product Default Single Item -->
                                <div class="blog-default-single-item blog-color--golden swiper-slide">
                                    <div class="image-box">
                                        <a href="https://kenh14.vn/iphone-14-va-iphone-14-plus-thiet-ke-khong-doi-camera-selfie-tu-dong-lay-net-chip-a15-ho-tro-lien-lac-ve-tinh-gia-tu-799-usd-20220908020156189.chn"
                                           class="image-link"><img class="img-fluid" src="~/assets//images/blog/Blog-1.png" alt=""></a>
                                    </div>
                                    <div class="content">
                                        <h6 class="title">
                                            <a href="https://kenh14.vn/iphone-14-va-iphone-14-plus-thiet-ke-khong-doi-camera-selfie-tu-dong-lay-net-chip-a15-ho-tro-lien-lac-ve-tinh-gia-tu-799-usd-20220908020156189.chn">
                                                Giới Thiệu Iphone Mùa Thu 2022
                                            </a>
                                        </h6>
                                        <p>
                                            Sau nhiều tin đồn rò rỉ, tại sự kiện "Far out" tổ chức rạng sáng ngày 7/9
                                            theo giờ Việt Nam,Apple chính thức giới thiệu dòng sản phẩm iPhone 14
                                            series với sự xuất hiện của 4 phiên bản:iPhone 14, iPhone 14 Plus,
                                            iPhone 14 Pro và iPhone 14 Pro Max.

                                        </p>
                                        <div class="inner">
                                            <a href="https://kenh14.vn/iphone-14-va-iphone-14-plus-thiet-ke-khong-doi-camera-selfie-tu-dong-lay-net-chip-a15-ho-tro-lien-lac-ve-tinh-gia-tu-799-usd-20220908020156189.chn"
                                               class="read-more-btn icon-space-left">
                                                Đọc Thêm <span>
                                                    <i class="ion-ios-arrow-thin-right"></i>
                                                </span>
                                            </a>
                                            <div class="post-meta">
                                                <a href="https://kenh14.vn/iphone-14-va-iphone-14-plus-thiet-ke-khong-doi-camera-selfie-tu-dong-lay-net-chip-a15-ho-tro-lien-lac-ve-tinh-gia-tu-799-usd-20220908020156189.chn" class="date">24 Apr</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Product Default Single Item -->
                                <!-- Start Product Default Single Item -->
                                <div class="blog-default-single-item blog-color--golden swiper-slide">
                                    <div class="image-box">
                                        <a href="https://www.dienmayxanh.com/kinh-nghiem-hay/top-xx-phim-chieu-rap-hay-moi-nhat-thang-12-2020-1310334?fbclid=IwAR0d0BJjFJgCYTDaQam2c8H_uc1XFdVx9HLGb5f6aIePEgvFD2m0JAWjw3g"
                                           class="image-link"><img class="img-fluid" src="~/assets//images/blog/Blog-2.png" alt=""> </a>
                                    </div>
                                    <div class="content">
                                        <h6 class="title">
                                            <a href="https://www.dienmayxanh.com/kinh-nghiem-hay/top-xx-phim-chieu-rap-hay-moi-nhat-thang-12-2020-1310334?fbclid=IwAR0d0BJjFJgCYTDaQam2c8H_uc1XFdVx9HLGb5f6aIePEgvFD2m0JAWjw3g">
                                                Top 7 thiết bị, điện thoại Samsung mới nhất 2021
                                            </a>
                                        </h6>
                                        <p>
                                            Samsung Galaxy Watch 4 bao gồm 2 model Watch 4 và Watch 4 Classic. Dòng Classic
                                            với thiết kế đơn giản, tinh tế pha một chút hoải cổ. Dòng Watch 4 với thiết kế
                                            năng động và trẻ trung nhưng vẫn giữ được nét đặc trưng của Samsung. Cả hai
                                            đều được trang bị màn hình công nghệ Super AMOLED với kích thước 1.36 inch với
                                            độ phân giải 450 x 450 pixels cho khả năng hiển thị tối ưu.
                                        </p>
                                        <div class="inner">
                                            <a href="https://www.dienmayxanh.com/kinh-nghiem-hay/top-xx-phim-chieu-rap-hay-moi-nhat-thang-12-2020-1310334?fbclid=IwAR0d0BJjFJgCYTDaQam2c8H_uc1XFdVx9HLGb5f6aIePEgvFD2m0JAWjw3g" class="read-more-btn icon-space-left">
                                                Đọc Thêm <span>
                                                    <i class="ion-ios-arrow-thin-right"></i>
                                                </span>
                                            </a>
                                            <div class="post-meta">
                                                <a href="https://www.dienmayxanh.com/kinh-nghiem-hay/top-xx-phim-chieu-rap-hay-moi-nhat-thang-12-2020-1310334?fbclid=IwAR0d0BJjFJgCYTDaQam2c8H_uc1XFdVx9HLGb5f6aIePEgvFD2m0JAWjw3g" class="date">24 Apr</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Product Default Single Item -->
                            </div>
                        </div>
                        <!-- If we need navigation buttons -->
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Blog Slider Section -->
